body {background-image: url("https://wallpaperaccess.com/full/1155096.jpg");
    background-size: cover;
    margin: 0;
}

.container {text-align: center;
    
}

.container .social li {display:inline-block;
    padding: 15px;

}

#link:hover {color: #4E148C;

}

.container .social li a {text-decoration: none;
    font-family: 'Babylonica';
    color: white;
    font-size: 35px;
    font-style: bold;
    text-shadow: 10px 10px 6px #4E148C;
}

.container #title {color: white;
    font-size:150px;
    font-style: italic;
    letter-spacing: -5px;
    font-family: 'Babylonica';
    text-shadow: 10px 10px 6px #4E148C;
    margin: 0px;
}

.sobrock {width: 441px;
    height: 441px;
    padding: 20px;

}

.video-container {text-align: center;
    margin-top: 0px;
    
}

#sales:hover {color: white;

}

h2 a {text-decoration: none;
    font-family: 'Babylonica';
    color: #613DC1;
    font-size: 35px;
    font-style: Italic;
}

.newsletter-container {text-align: center;
    margin-top: 100px;
    
}

.newsletter-container h2, form {color: white;
    font-style: italic;
    font-family: 'Babylonica';
    text-shadow: 10px 10px 6px #4E148C;
}

form #button {background-color:#4E148C;
    color: white;
    width: 50px;
    height: 25px;
    font-family: 'Babylonica';
    font-size: 15px;
}

.footer {text-align: center;
    font-family: 'Babylonica';
    color: white;
    margin-top: 50px;
}