body {background-image: url("https://wallpaperaccess.com/full/1155096.jpg");
    background-size: cover;
    margin: 0;
}

.container {text-align: center;
    
}

.container .social li {display:inline-block;
    padding: 20px;

}

.container .social li a {text-decoration: none;
    font-family: 'Babylonica';
    color: white;
    font-size: 35px;
    font-style: bold;
    text-shadow: 10px 10px 6px #4E148C

}

.container #title {color: white;
    font-size:150px;
    font-style: italic;
    letter-spacing: -5px;
    font-family: 'Babylonica';
    text-shadow: 10px 10px 6px #4E148C;
}

.sobrock {width: 441px;
    height: 441px;
    padding: 20px;

}