body {background-image: url("https://i.stack.imgur.com/7vMmx.jpg");
    background-size: cover;
    margin: 0px;
}

.container {text-align: center;
    
}

.container .social li {display:inline-block;
    padding: 15px;
    margin: 10px 75px 0px 75px;
}

#link:hover {color: white;
    text-shadow: 8px 4px 10px #4E148C;
}

#link:active {color: white;
    text-shadow: 8px 4px 10px #4E148C;
}

.container .social li a {text-decoration: none;
    font-family: 'Babylonica';
    color: #4E148C;
    font-size: 35px;
    font-style: italic;
}

.container #title {color: white;
    font-size:200px;
    font-style: italic;
    letter-spacing: -5px;
    font-family: 'Babylonica';
    text-shadow: 10px 10px 6px #4E148C;
    margin: 0px;
}

.sobrock {width: 441px;
    height: 441px;
    padding: 20px;
}
.logo-container {text-align: center;

}
.video-container {text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;  
}

.link-container {text-align: center;

}

#sales-tour:hover {color: white;
    text-shadow: 8px 4px 10px #4E148C;
}

#sales-tour:active {color: white;
    text-shadow: 8px 4px 10px #4E148C;
}

h2 a {text-decoration: none;
    font-family: 'Babylonica';
    color: #4E148C;
    font-size: 35px;
    font-style: Italic;
}

.newsletter-container {text-align: center;
    margin-top: 100px;
}

.newsletter-container h2, form {color: white;
    font-style: italic;
    font-family: 'Babylonica';
    text-shadow: 4px 2px 4px #4E148C;
    font-size: 40px;
    margin-top: 0px;
}

.newsletter-container form .font-size {font-size: 30px;
    
}

form #email {border:none;
    background:none;
    height: 30px;
    border-bottom: 3px solid #4E148C;
    margin-top: 0px;
}

form #button {background-color:#4E148C;
    color: white;
    width: 75px;
    height: 35px;
    font-family: 'Babylonica';
    font-size: 20px;
    border: solid #858AE3 2px;
    margin: 20px;
    border-radius: 15px;
}

#button:hover {background-color:white;
    color: #4E148C;
    border: solid #4E148C 2px;
}

#button:active {background-color: #858AE3;
    color: white;
    border: solid #4E148C 2px;
}

.footer {text-align: center;
    font-family: 'Babylonica';
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 10px;
}